/* src/styles/global.css */
:root {
  --primary-color: #61C0B7; /* Tom de verde-água do logo e ícone ativo */
  --light-blue-bg: #EBF8FF; /* Fundo do card 'Dados da viagem' */
  --text-primary: #333333;
  --text-secondary: #828282; /* Cinza para os subtítulos */
  --bg-color: #F8F9FA; /* Fundo principal um pouco mais claro */
  --white: #FFFFFF;
  --border-color: #E0E0E0;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

#root {
  width: 100%;
  height: 100vh;
}