.app-container {
  display: grid;
  grid-template-columns: 80px 1fr; /* Largura da sidebar e o resto */
  grid-template-rows: 70px 1fr; /* Altura do header e o resto */
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color); /* Mover o fundo para o contêiner principal */
}


.main-content {
  grid-area: main;
  padding: 24px 32px; /* AQUI ESTÁ A MÁGICA: Padding interno que cria o espaço. */
  overflow-y: auto; /* Adiciona uma barra de rolagem se o conteúdo for muito grande */
}